TopNode(OR) {
	Employee_Resigns(OR) {
		Retirement(OR) {
			Opportunity(OR) {
			Recruitment : 0.3;
			Applied : 0.2;			
			}
		Personal_reasons(OR) {
			Unsatisfied : 0.1;
			Bad_Work_Environment : 0.4;
			Health_Reasons : 0.2;
			}
		}
	}
	Employee_Laid_Off(OR) {
		Unsatisfactory_Employee(OR) {
			Bad_Work_Ethic(OR) {
				Social : 0.1;
				Lazy : 0.3;
			}
			Lack_Of_Ability : 0.2;
		}
		Cuts(OR) {
			Department_Not_Needed : 0.1;
			Budget_Cuts : 0.7;
		}
	}
}
